<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Online</title>
</head>
<body>
    <div class="highlight">
        <header>
            <img src="../../assets/the booktown.png" alt="Imagem do H1" /> 
        </header>
        <section class="description">
            <h2>Explore nossa vasta coleção de livros</h2>
            <p>Descubra novos mundos através da leitura.</p>
        </section>
    </div>
</body>
</html>
